<div class="profile-container">
  <div class="profile-avatar-section reveal" data-reveal>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "avatar-form" }) do |f| %>
      <div class="profile-avatar-wrapper">
        <div class="profile-avatar">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, alt: "avatar" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", alt: "avatar" %>
          <% end %>
        </div>
        <label for="avatar-input" class="profile-edit-badge">
          <i class="fas fa-camera"></i>
        </label>
        <%= f.input_field :avatar, as: :file, id: "avatar-input", class: "d-none", onchange: "this.form.requestSubmit()" %>
      </div>
    <% end %>
    <h2 class="profile-name"><%= current_user.first_name || "Firstname" %> <%= current_user.last_name || "Lastname" %></h2>
  </div>

  <div class="profile-form-section reveal" data-reveal data-reveal-delay="200">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="profile-field">
        <%= f.label :first_name, "Firstname" %>
        <%= f.input_field :first_name, class: "profile-input", placeholder: "Firstname" %>
      </div>

      <div class="profile-field">
        <%= f.label :email, "Email" %>
        <%= f.input_field :email, class: "profile-input", placeholder: "Email" %>
      </div>

      <div class="profile-field">
        <%= f.label :tastes, "How would you describe your tastes?" %>
        <%= f.text_area :tastes, class: "profile-input profile-textarea", placeholder: "Describe your tastes..." %>
      </div>

      <div class="profile-submit">
        <%= f.button :submit, "Save changes", class: "btn-profile-save" %>
      </div>
    <% end %>
  </div>
</div>
