<nav class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav-pills">
        <% if user_signed_in? %>
          <%= link_to wines_path, class: "nav-pill-btn" do %>
            <span>Wine List</span>
          <% end %>
          <%= link_to chats_path, data: { turbo_method: :post }, class: "nav-pill-btn" do %>
            <span>Sommelier</span>
          <% end %>
          <%= link_to edit_user_registration_path, class: "nav-pill-btn" do %>
            <span>Profile</span>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "nav-pill-btn" do %>
            <span>Login</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
