<div class="wines-index">
  <h1>My Wines</h1>

  <%= form_with url: wines_path, method: :get, data: { turbo: false }, class: "wines-filters" do %>
    <div class="wines-filter-colors">
      <% [["", "All"], ["red", "Red"], ["white", "White"], ["rose", "Rosé"], ["yellow", "Yellow"]].each do |value, label| %>
        <label class="wine-color-chip wine-color-chip--<%= value.presence || 'all' %> <%= 'active' if params[:color].to_s == value %>">
          <input type="radio" name="color" value="<%= value %>" <%= "checked" if params[:color].to_s == value %> onchange="this.form.submit()">
          <%= label %>
        </label>
      <% end %>
    </div>

    <div class="wines-filter-category">
      <select name="category" onchange="this.form.submit()" class="wines-category-select">
        <option value="" <%= "selected" if params[:category].blank? %>>All categories</option>
        <% @available_categories.each do |cat| %>
          <option value="<%= cat %>" <%= "selected" if params[:category] == cat %>><%= cat.gsub('_', ' ').capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="wines-filter-price"
         data-controller="price-range-slider"
         data-price-range-slider-bound-min-value="<%= @price_min %>"
         data-price-range-slider-bound-max-value="<%= @price_max %>">
      <span class="price-slider__label-title">Price</span>
      <div class="price-slider__track-wrap">
        <div class="price-slider__track">
          <div class="price-slider__range" data-price-range-slider-target="range"></div>
        </div>
        <input type="range" name="min_price"
               min="<%= @price_min %>" max="<%= @price_max %>" step="5"
               value="<%= params[:min_price] || @price_min %>"
               data-price-range-slider-target="minInput"
               data-action="input->price-range-slider#minChanged change->price-range-slider#submit">
        <input type="range" name="max_price"
               min="<%= @price_min %>" max="<%= @price_max %>" step="5"
               value="<%= params[:max_price] || @price_max %>"
               data-price-range-slider-target="maxInput"
               data-action="input->price-range-slider#maxChanged change->price-range-slider#submit">
      </div>
      <span class="price-slider__values">
        <span data-price-range-slider-target="minVal"></span><span data-price-range-slider-target="maxVal"></span>
      </span>
    </div>

    <% if params[:color].present? || params[:category].present? || params[:min_price].present? || params[:max_price].present? %>
      <%= link_to "Clear filters", wines_path, class: "wines-filter-clear" %>
    <% end %>
  <% end %>

  <div class="wines-grid">
    <% @wines.each do |wine| %>
      <%
        bottle_image = case wine.color
                       when "red"    then "bottle-red.png"
                       when "rose"   then "bottle-pink.png"
                       when "white"  then "bottle-white.png"
                       when "yellow" then "bottle-yellow.png"
                       else "bottle-red.png"
                       end
      %>
      <%= link_to wine_path(wine), class: "wine-card" do %>
        <div class="wine-card__image-wrap">
          <%= image_tag bottle_image, class: "wine-card__bottle", alt: wine.name %>
        </div>
        <div class="wine-card__body">
          <h3 class="wine-card__name"><%= wine.name.presence || "Unnamed wine" %></h3>
          <% if wine.origin.present? %>
            <p class="wine-card__origin"><%= wine.origin %></p>
          <% end %>
          <div class="wine-card__tags">
            <% wine.categories.first(3).each do |cat| %>
              <span class="wine-card__tag"><%= cat.gsub('_', ' ').capitalize %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
