<div class="wines-index">
  <h1>My Wines</h1>

  <div class="wines-grid">
    <% @wines.each do |wine| %>
      <div class="wine-card">
        <div class="wine-card__tags">
          <% if wine.color.present? %>
            <span class="wine-tag wine-tag--<%= wine.color %>"><%= wine.color.capitalize %></span>
          <% end %>
          <% if wine.categories.present? %>
            <span class="wine-tag wine-tag--category"><%= wine.categories %></span>
          <% end %>
          <% if wine.origin.present? %>
            <span class="wine-tag wine-tag--origin"><%= wine.origin %></span>
          <% end %>
        </div>
        <% if wine.description.present? %>
          <p class="wine-card__description"><%= wine.description %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
